@font-face {
    font-family: 'Digimon';
    src: url('../fonts/DigimonBasic.ttf');
}

:root{
    --blue: #2675AE;
    --yellow: #FAB72A;
    --lightYellow: #f6cd75;
    --darkYellow: #855c05;
    --bg: #09446A;
    --border: #2CADBD;
    --outborder: #BBDEEB;
}

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* BACKGROUND */
.bg-ternary {background-color: #bdbdbd;}
.bg-main-yellow{background-color: var(--yellow);}
.bg-light-yellow{background-color: var(--lightYellow);}
.bg-black-5 {background-color: rgba(0, 0, 0, 0.5);}
.bg-black-7 {background-color: rgba(0, 0, 0, 0.7);}
.bg-black-9 {background-color: rgba(0, 0, 0, 0.9);}
.bg-grad{
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}
/* FONTS */
.fs-title{font-size: 60px;}
.ff-digimon{font-family: 'Digimon';}
.ls-1{letter-spacing: 1px;}
.ls-5{letter-spacing: 5px;}
.text-gray{color: #444;}
.text-main-yellow{color: var(--yellow);}
.text-blue{color: var(--bg);}
/* POSITION */
.fg-sm-1 {flex: 0;}
.transition{transition: all .3s}

header {
    height: 350px;
    background-image: url('../img/digimon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-shadow: -3px -3px 0px var(--border), -4px -4px 0px var(--outborder);
}

nav{min-height: 55px;}

nav img{
    width: 150px;
    margin-left: -75px;
    position: absolute;
    left: 50%;
    top: 30px;
}

input+label {
    cursor: pointer;
    outline: 3px solid transparent;
}

input:checked + label{
    background-color: var(--yellow);
    color: black;
    outline: 3px solid var(--darkYellow);
}

.card{
    overflow: hidden;
}

.card img{transition: all .3s;}

.card:hover img {
    transform: scale(1.05);
    filter: none;
}

#results{
    min-height: calc(100vh - 350px);
}

#return{
    width: 50px;
    height: 50px;
    right: .5em;
    bottom: .5em;
}

.show{
    animation: show 500ms linear;
    opacity: 1;
    visibility: visible !important;
}

@keyframes show {
    from{opacity: 0;}
    to{opacity: 1 !important}
}

.hidden{visibility: hidden;}
div#return i{font-size: 35px;}

#modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.hide{
    display: none !important;
}

@media (min-width: 576px) {
    .fg-sm-1{flex: 1}
}

@media (min-width: 992px) {
    .fs-title{font-size: 100px;}
    nav img {
        width: 120px;
        margin-left: 0;
        position: initial;
    }
   .messageBox{width: 50%;}
}

@media (min-width: 1200px) {
    .card img{width: 70%;}
} 